* {
    box-sizing: border-box;
    margin: 0;
    margin-left: 10px;
    padding: 0px;
}
.body{
    background-image: url("../images/fondo.jpg");
        display: flex;
        align-items: center;
        justify-content: center;
    }

.container {     
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(88, 83, 83);
    background-color: white;
    margin: 100px 20px;
    width: 1000px;
    height: 500px;
    font-size: 12px;
    border-radius: 10px;
}

.title {
    font-family: "roboto";
    font-size: 100px;
    display:flex;
    justify-content: start;
}
.label {
font-family: "roboto";
font-size: 30px;

}

.form {
    width: 900px;
    font-family: "roboto";
    font-size: 20px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.section-btn {
    display: flex;
    flex-direction: row;
    margin-top:10px;

}
.section-btn__start {
    width: 90px;
    height: 30px;
    background-color: #49BCAD;
    border: #49BCAD;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 600;
} 
.section-btn__reset {
    width: 90px;
    height: 30px;
    background-color: #919496;
    border: #919496;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.section-number {
    width: 200px;
    height: 30px;
    border-radius: 6px;
    background-color: rgba(226, 225, 225);
    border-color: rgba(226, 225, 225);
    font-size: 16px;
    }

 .p {
    font-family: "roboto";
    font-size: 20px;
    margin-top: 10px;
    font-size: 16px;
    width: 400px;
    border: solid 2px rgb(212, 212, 212);
    padding: 4px;
    }
 